<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title %></title>
  <!-- google font -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">

   <!-- Animate on Scroll -->
   <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
   <!-- Other css -->
  <link rel="stylesheet" href="/dist/css/index.css">
</head>

<body>
  <div class="content">
    <nav class="black">
      <div class="nav-wrapper" data-aos="fade-down" data-aos-duration="800">
        <a href="#" class="brand-logo center"><i class="fas fa-hotel"></i>HMS</a>
    </nav>
    <div class="split left">
      
      <img src="/dist/img/landing-page/pexels-cottonbro-5137788.jpg" alt="" class="student">
      <div class="overlay" >
        <div class="text" >
          <p class="subtitle ">Welcome to...</p>
          <h1 class="title">Admin Panel</h1>
          <h6 class="desc">Click to visit the admin panel for to manage and get records of hostelers.</h6>
          <a class="button" href="/admin/sign-in"> <i class="fas fa-users-cog"></i> Click to visit</a>
        </div>
      </div>
    </div>
    <div class="split right">

      <img src="/dist/img/landing-page/pexels-elijah-o'donnell-4066041.jpg" alt="" class="admin">
      <div class="overlay">
        <div class="text">
          <p class="subtitle">Welcome to...</p>
          <h1 class="title">Student Panel</h1>
          <h6 class="desc">Visit for new hostel allotment status, bills, attendence marking and student activities.</h6>
          <a class="button" href="/students/sign-in"><i class="fas fa-user-graduate"></i> Visit Now!</a>
        </div>
      </div>
    </div>
  </div>
</body>
  <script></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="/dist/js/index.js"></script>

  <script>  
    AOS.init();
  </script>
  </body>
</html>