<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <!-- MaterializeCSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!-- Animate on Scroll -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- <link rel="stylesheet" href="css/utilities.css"> -->
    
    <link rel="stylesheet" href="/dist/css/utilities.css">
    <link rel="stylesheet" href="/dist/css/form.css">
    <link rel="stylesheet" href="/dist/css/student_page.css">
    <link rel="stylesheet" href="/dist/css/student_complaint.css">
    <link rel="stylesheet" href="/dist/css/student_markHoliday.css">
    <title><%= title %></title>
</head>
<body>
    <div id="particles-js" style="position: absolute; top:0; left:0; height:100%; width:100%;">
    </div>
    <nav class="nav-wrapper grey darken-3 " id="student-page-nav" data-aos="fade-down">
        <div class="container" >
            <a href="#" class = "brand-logo left ">Hostel Leave Form</a>
            <a href="#" data-target="mobile-links" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
            <ul class = "right show-on-large hide-on-med-and-down">
                <li><a href="/students/student-home">Home</a></li>
                <li><a href="/students/mess-leave">Mess Leave</a></li>
                <li><a href="/students/mark-holiday">Mark Holiday</a></li>
                <li><a href="/complaints/section">Complaint</a></li>
                <li><a href="student_adminContacts.html">Admin Contact</a></li>
                <% if (locals.user){ %>
                    <li><a href="/students/sign-out">Sign Out</a></li>
                <% } %>
                <li class="profile tooltipped" data-position="right" data-tooltip = "<%= user.name %>">
                    <a href="/students/profile"><img src="/dist/img/student_page/photo.jpg" alt=""></a>
                </li>
            </ul>
        </div>

        
    </nav>
  
    <ul class="sidenav" id="mobile-links">
        <li class="profile-sidenav center-align">
            <img src="/dist/img/student_page/photo.jpg" alt="">
         </li>
         <li class="center-align">
            <h5 class="black-text ">Pranav Shukla</h5>
            </li>
         <li><a href="student_page.html">Home</a></li>
         <li><a href="#!">Mark attendence</a></li>
         <li><a href="#!">Mark Holiday</a></li>
         <li><a href="#!">Complaint</a></li>
         <li><a href="#!">Admin Contact</a></li>
    </ul>
    
    <div class="container">
        <div class="row">
            <div class="col s10 offset-s1" data-aos="fade-down" data-aos-duration="1000"  style="margin-top:70px;">
              <div class="row" id="pickMessHoliday">
                <form class="col s12" >
                    <h4 class="black-text center"> <i class="fas fa-hotel black-text"></i> Apply Hostel Leave <i class="fas fa-hotel black-text"></i></h4>
                    <div class="row">
                        <div class="col s8 offset-s2">
                            <div class="input-field">
                                <input type="text" class="datepicker" id="fromDate">
                                <label for="#fromDate">From</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s8 offset-s2">
                            <div class="input-field">
                                <input type="text" class="datepicker" id="fromDate">
                                <label for="#fromDate">To</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s8 offset-s2">
                            <div class="input-field">
                                <input type="text" name="address" id="address">
                                <label for="#address">Address</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s8 offset-s2">
                            <div class="input-field">
                                <select>
                                    <option value="" disabled selected>Absent from meal</option>
                                    <option value="1">BreakFast</option>
                                    <option value="2">Lunch</option>
                                    <option value="3">Snacks</option>
                                    <option value="3">Dinner</option>
                                  </select>
                                  <label>Leave starting from meal</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s8 offset-s2">
                            <div class="input-field">
                                <select>
                                    <option value="" disabled selected>Absent till meal</option>
                                    <option value="1">BreakFast</option>
                                    <option value="2">Lunch</option>
                                    <option value="3">Snacks</option>
                                    <option value="3">Dinner</option>
                                  </select>
                                  <label>Leave ending at meal</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s8 offset-s2">
                            <p class="red-text"> *Students don't have to mark mess leave after filling out the details here.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s8 offset-s5">
                            <div class="input-field">
                                <button type="submit" class="button">Mark Leave</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>  
        </div>
    </div>
    
</div>
<!-- Student Information -->
     
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/dist/js/form.js"></script>
    <script src="/dist/js/particles.js"></script>
    <script src="/dist/js/app.js"></script>
    <script src=""></script>
    <script>
        var elem = document.querySelector('.sidenav');
        var instance = new M.Sidenav(elem);
        $(document).ready(function(){
          $('.tooltipped').tooltip();
        });
        $(document).ready(function(){
        $('.tabs').tabs();
        });
        $(document).ready(function(){
        $('select').formSelect();
        M.textareaAutoResize($('#complaintContent'));
        });
        $(document).ready(function(){
        $('.datepicker').datepicker();
         });
        AOS.init();  
        // var elem = document.querySelector('.sidenav');
        // var instance = new M.Sidenav(elem); 

        // $(document).ready(function(){
        //     $('.tabs').tabs();
        // });
        // $(document).ready(function(){
        //     $('.tabs').tabs('select_tab', 'tab_id');
        // });

        // $(document).ready(function(){
        // $('.modal').modal();
        // });
    </script>
</body>
</html>