<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="stylesheet" href="/dist/css/utilities.css">
    <link rel="stylesheet" href="/dist/css/form.css">
    <link rel="stylesheet" href="/dist/css/student_login.css">
    <title><%= title%></title>
</head>
<body>
    <div class="form-container" data-aos="flip-left" data-aos-duration="1000">
        <h1 data-aos="fade-down" data-aos-duration="700">Login via your Student ID</h1>
  
        <form action="/students/create" method="POST">

          <div class="form-control" data-aos="fade-up-right" data-aos-duration="1000">
            <input type="text" name="name"id="name" required />
            <label for="name"> Name</label>
          </div>
    
          <div class="form-control" data-aos="fade-up-right" data-aos-duration="1000">
            <input type="number" name="regNo" id="regNo" required />
            <label for="regNo">Enter Registration Number...</label>
          </div>
    
          <div class="form-control" data-aos="fade-up-right" data-aos-duration="1000">
            <input type="email" name="email" id="email" required />
            <label for="email">Enter Email...</label>
          </div>
    
          <div class="form-control" data-aos="fade-up-left" data-aos-duration="1000">
            <input type="password" name ="aadharNo" id="aadharNo" required />
            <label for="aadharNo">Enter Aadhar Number...</label>
          </div>
    
          <div class="form-control" data-aos="fade-up-right" data-aos-duration="1000">
            <input type="password" name="password"id="password" required />
            <label for="password"> Password</label>
          </div>
    
          <div class="form-control" data-aos="fade-up-right" data-aos-duration="1000">
            <input type="password" name="confirm_password" id="confirm_password" required />
            <label for="confirm_password">Confirm Password</label>
          </div>
    
          <button class="button" data-aos="zoom-in-up" data-aos-duration="1000">Login</button>
          <p class="text" data-aos="zoom-in" data-aos-duration="2000">Already have an account? <a href="/students/sign-in">Login</a><span style="margin-left:3rem"><a href="/">Go Back</a></span></p>
    
        </form>
      </div>
</div>

<script>
  <% if(flash.success && flash.success.length > 0){ %>
     new Noty({
         theme: "relax",
         text: "<%= flash.success %>",
         type: "success",
         layout: 'topRight',
         timeout: 1500,
         
     }).show();
   <% } %> 
   
   <% if(flash.error && flash.error.length > 0){ %>
     new Noty({
         theme: "relax",
         text: "<%= flash.error %>",
         type: "error",
         layout: 'topRight',
         timeout: 1500,
         
     }).show();
   <% } %> 
</script> 
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
     AOS.init();
    </script>
    <script src="/dist/js/form.js"></script>
    
</body>
</html>

