<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
     <!-- Icons -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
     <!-- MaterializeCSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- noty js -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
      <!-- CSS files -->
    <link rel="stylesheet" href="/dist/css/utilities.css">
    <link rel="stylesheet" href="/dist/css/form.css">
    <!-- <link rel="stylesheet" href="css/student_login.css"> -->
    <link rel="stylesheet" href="/dist/css/student_signup.css">
    <title><%= title %></title>
</head>
<body>
    <div class="form-container" data-aos="flip-right" data-aos-duration="1000" style="margin:40px 0">
        <h5 data-aos="fade-down" data-aos-duration="700">Use your Student ID to Sign Up</h5>

        <form action="/students/create" method="POST">

          <div class="form-control" data-aos="fade-up-right" data-aos-duration="1500">
            <input type="number" name="regNo" id="regNo" required />
            <label for="regNo">Enter Registration Number...</label>
          </div>

          <div class="form-control" data-aos="fade-up-left" data-aos-duration="1500">
            <input type="number" name="aadharNo" id="aadharNo" required />
            <label for="aadharNo">Enter Aadhar Number...</label>
          </div>
          <div class="form-control" data-aos="fade-up-right" data-aos-duration="1500">
            <input type="text" name="dob" id="dob" required />
            <label for="dob">Enter Date of Birth (dd/mm/yyyy)</label>
          </div>
          
          <div class="form-control" data-aos="fade-up-left" data-aos-duration="1500">
            <input type="text" name="name" id="firstName" required />
            <label for="firstName">Enter Your Name</label>
          </div>

          <div class="form-control" data-aos="fade-up-right" data-aos-duration="1500">
            <input type="text" name="hostel" id="hostel" required />
            <label for="hostel">Enter Hostel</label>
          </div>
          
          <!-- <div class="form-control" data-aos="fade-up-right" data-aos-duration="1500">
            <input type="text" id="middleName"/>
            <label for="middleName">Enter Middle Name (optional)</label>
          </div>

          <div class="form-control" data-aos="fade-up-left" data-aos-duration="1500">
            <input type="text" id="lastName" required/>
            <label for="lastName">Enter Last Name</label>
          </div> -->
          <div class="form-control" data-aos="fade-up-left" data-aos-duration="1500">
            <input type="text" name="branch" id="branch" required />
            <label for="branch">Enter Your Branch</label>
          </div>
          <div class="form-control" data-aos="fade-up-left" data-aos-duration="1500">
            <input type="text" name="batch" id="batch" required />
            <label for="batch">Enter Your Batch</label>
          </div>
          
          <div class="form-control" data-aos="fade-up-right" data-aos-duration="1500">
            <input type="email" name="email" id="email1" required />
            <label for="email1">Enter Institute Email ID...</label>
          </div>

          <div class="form-control" data-aos="fade-up-left" data-aos-duration="1500">
            <input type="email" name="email2" id="email2" required />
            <label for="email2">Enter Personal Email ID...</label>
          </div>

          <div class="form-control" data-aos="fade-up-right" data-aos-duration="1500">
            <input type="number" name="phone1" id="phone1" required />
            <label for="phone1">Enter Primary Phone No.</label>
          </div>
          
          <!-- <div class="form-control" data-aos="fade-up-left" data-aos-duration="1500">
            <input type="number" id="phone2" />
            <label for="phone2">Enter Secondary Phone No.</label>
          </div>    -->

          <div class="form-control" data-aos="fade-up-right" data-aos-duration="1500">
            <input type="text" name="fatherName" id="firstName" required />
            <label for="firstNameF">Enter Father's Name</label>
          </div>
          
          <!-- <div class="form-control" data-aos="fade-up-left" data-aos-duration="1500">
            <input type="text" id="middleName"/>
            <label for="middleNameF">Enter Father's Middle Name (optional)</label>
          </div>

          <div class="form-control" data-aos="fade-up-right" data-aos-duration="1500">
            <input type="text" id="lastName" required/>
            <label for="lastNameF">Enter Father's Last Name (optional)</label>
          </div> -->
          
          <div class="form-control" data-aos="fade-up-right" data-aos-duration="1500">
            <input type="text" name="motherName" id="firstName" required />
            <label for="firstNameM">Enter Mother's  Name</label>
          </div>
          
          <!-- <div class="form-control" data-aos="fade-up-left" data-aos-duration="1500">
            <input type="text" id="middleName"/>
            <label for="middleNameM">Enter Mother's Middle Name (optional)</label>
          </div>

          <div class="form-control" data-aos="fade-up-right" data-aos-duration="1500">
            <input type="text" id="lastName" required/>
            <label for="lastNameM">Enter Mother's Last Name (optional)</label>
          </div> -->

          <div class="form-control" data-aos="fade-up-left" data-aos-duration="1500">
            <input type="email" name="parentEmail" id="emailE" required />
            <label for="emailE">Enter Parent's Email ID</label>
          </div>

          <div class="form-control" data-aos="fade-up-right" data-aos-duration="1500">
            <input type="number" name="parentNo" id="phoneE" required />
            <label for="phoneE">Enter Parent's Phone No.</label>
          </div>

          <!-- <div class="form-control" data-aos="fade-up-right" data-aos-duration="1500">
            <input type="number" id="phoneE" required />
            <label for="phoneE">Enter Parent's Phone No.</label>
          </div> -->

          <!-- <div class="form-control" data-aos="fade-up-left" data-aos-duration="1500">
            <div class="file-field input-field">
              <div class="btn">
                <span>Upload Profile Picture</span>
                <input type="file">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
          </div> -->

          <!-- <div class="form-control" data-aos="fade-up-right" data-aos-duration="1500">
            <div class="file-field input-field">
              <div class="btn">
                <span>Upload Income Certificate (If Required)</span>
                <input type="file">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
          </div> -->


          
          <div class="form-control" data-aos="fade-up-right" data-aos-duration="1500">
            <input type="password" name="password"id="password" required />
            <label for="password"> Password</label>
          </div>
    
          <div class="form-control" data-aos="fade-up-right" data-aos-duration="1500">
            <input type="password" name="confirm_password" id="confirm_password" required />
            <label for="confirm_password">Confirm Password</label>
          </div>

          <button class="button" data-aos="zoom-in-up" data-aos-duration="1500">Submit</button>
          
          <p class="text" style="margin-top: 20px;" data-aos="zoom-in" data-aos-duration="2000">Already have an account? <a href="/students/sign-in">Login</a><span style="margin-left:3rem"><a href="/">Go Back</a></span></p>
        </form>
      </div>
</div>

 
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        $(document).ready(function(){
    $('.datepicker').datepicker();
  });
     AOS.init();
    </script>
    <script src="/dist/js/form.js"></script>
    <script>
      <% if(flash.success && flash.success.length > 0){ %>
         new Noty({
             theme: "relax",
             text: "<%= flash.success %>",
             type: "success",
             layout: 'topRight',
             timeout: 1500,
             
         }).show();
       <% } %> 
       
       <% if(flash.error && flash.error.length > 0){ %>
         new Noty({
             theme: "relax",
             text: "<%= flash.error %>",
             type: "error",
             layout: 'topRight',
             timeout: 1500,
             
         }).show();
       <% } %> 
    </script> 
    
</body>
</html>