.modal {
    // display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #666;
    padding: 0;
    // max-height: 70%;
    // width: 55%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;

}

.modal-overlay {
    display: none;
    background: transparent;
}

#pickMessHoliday{
    h4{
        font-weight: bold;
    }
    background-color: rgba(255,255,255,0.9);
}