

.profile{
  a:hover {
    background-color: rgba(0,0,0,0.0);
  }
  
  a {
    // -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    display: block;
    padding: 0 0px;
    cursor: pointer;
  }
}

.profile img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 10px;
}
.profile-sidenav img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 20px;
}

.tag1 {
  background-color: #03a9f4;
}
.tag2 {
  background-color: #00695c;
}
.tag3 {
  background-color: #757575;
}
.tag4 {
  background-color: #fb8c00;
}

#content-student-page {
  top: 100px;
  position: absolute;
  height: 80%;
  width: 80%;
  & .row .card {
    background-color: rgba(255, 255, 255, 0.7);
  }
}

#particles-js {
  background-color: #333;
  z-index:-1;
}

// .home-container{
//   display: grid;
//   grid-template-areas: 
//     'home1' 'home2'
//   ;
// }

// .home1{
//   grid-area: 'home1';
//   display:grid;
//   grid-template-areas: 
//     'hostel-updates'
//   ;
// }

// .home2{
//   grid-area: 'home2';
  
// }


.home1, .home2{
  height:100%;
  width:45%;
  border-radius: 10% 10% 0 0;
}

table{
  overflow: auto;
  & tr > td{
    font-weight: bold;
  }
}

.home-container{
  height:100%;
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.hostel-updates{
  ul{
    max-height:42vh;
    width:100%;
    overflow-y:auto;
  }
  .collection .collection-item {
    background-color: #fff;
    line-height: 3rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom:none;
  }
}



.home-container{
  margin-top: 5rem;
}