.profile img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 10px;
}
.profile-sidenav img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 20px;
}

.tag1 {
  background-color: #03a9f4;
}
.tag2 {
  background-color: #00695c;
}
.tag3 {
  background-color: #757575;
}
.tag4 {
  background-color: #fb8c00;
}

#content-student-page {
  top: 100px;
  position: absolute;
  height: 80%;
  width: 80%;
  & .row .card {
    background-color: rgba(255, 255, 255, 0.7);
  }
}

#particles-js {
  background-color: #333;
}

.page-footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
}
